{% extends 'events/base.html' %}

{% block content %}
    <div style="text-align: center;">
    <h1>
        Edit Venue
    </h1>
    <br/>
       <form action="" method=POST>
        {% csrf_token %}
          {{ form.as_p }}

           <br/>
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
              <div class="btn-group mr-2" role="group" aria-label="First group">
             <a href="{%  url 'list-venues' %}" class="btn btn-secondary">Come back</a>
              </div>
              <div class="btn-group mr-2" role="group" aria-label="Second group">
               <input type="submit" value="  Update  " class="btn btn-primary">
              </div>
            </div>

         </form>
    </div>

{% endblock %}