{% extends 'events/base.html' %}

{% block content %}

    <h1 style="text-align:center">Events</h1>
    <br/>
    <form class="form-inline my-2 my-lg-0" method= POST action="{% url 'search-events' %}">
        {% csrf_token %}

      <input class="form-control mr-sm-2" type="search" placeholder="Event" aria-label="Search" name="searched">
      <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>

    </form>
    <br/>
    <table class="table table-hover table-bordered">
        {% for event in event_list %}
            <tr>
                <td>
                    <a href="{% url 'show-event' event.id %}">{{ event }}</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <br/>
    <a href="{%  url 'add-event' %}" class="btn btn-primary">ADD EVENT</a>

{% endblock %}
