{% extends 'events/base_events.html' %}

{% block content %}

<div class="center">
        <h1 class="opaqueWhite" style="text-align: center">Events</h1>
</div>
    <br/>
    <form class="form-inline my-2 my-lg-0" method= POST action="{% url 'search-events' %}">
        {% csrf_token %}

      <input class="form-control mr-sm-2" type="search" placeholder="Event" aria-label="Search" name="searched">
      <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit" style="background-color: darkgrey">Search</button>

    </form>
    <br/>
    <table class="table table-hover table-bordered" style="background-color: rgba(255, 255, 255, 0.3);">
        {% for event in event_list %}
            <tr>
                <td>
                    <a href="{% url 'show-event' event.id %}" style="color: black">{{ event }}</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <br/>
    <a href="{%  url 'add-event' %}" class="btn btn-secondary">ADD EVENT</a>


{% endblock %}
