{% extends 'events/base.html' %}

{% block content %}
     <div class="card">
          <h5 class="card-header"> <strong>{{event}}</strong></h5>
          <div class="card-body">
            <h5 class="card-title">Details</h5>
            <div>
                <ul>
                    <li>Date: {{ event.event_date}}</li>
                    <li>Venue: {{ event.venue}}</li>
                    <li>Website: {{ event.venue.web}}</li>
                    <li>Start time: {{ event.start_time}}</li>
                    <li>End time: {{ event.end_time}}</li>
                    <li>Attendees:
                        {% for name in event.attendees.all %}
                            <ul>
                            <li>{{ name }}</li>
                            </ul>
                        {% endfor %}
                     </li>
                    <li>Manager:{{ event.manager}}</li>
                    <li>Contact number: {{ event.man_phone}}</li>
                    <li>Description: {{ event.eve_description}}</li>
                 </ul>
            </div>
          </div>
        </div>
    <br/>    <br/>

    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
      <div class="btn-group mr-2" role="group" aria-label="First group">
         <a href="{%  url 'list-events' %}" class="btn btn-secondary" >COME BACK</a>
      </div>
      <div class="btn-group mr-2" role="group" aria-label="Second group">
         <a href="{%  url 'edit-event' event.id %}" class="btn btn-primary">EDIT EVENT</a>
      </div>
     <div class="btn-group mr-2" role="group" aria-label="Third group">
         <a href="{%  url 'del-event' event.id %}" class="btn btn-danger">DELETE EVENT</a>
      </div>
    </div>



{% endblock %}