
{% extends 'events/base.html' %}

{% block content %}
     <div class="card">
          <h5 class="card-header"> <strong>{{venue}}</strong></h5>
          <div class="card-body">
            <h5 class="card-title">Details</h5>
            <div>
                <ul>
                    <li>Address: {{ venue.address}}</li>
                    <li>Post code: {{ venue.post_code}}</li>
                    <li>Contact phone: {{ venue.phone}}</li>
                    <li>Website: <a href="{{ venue.web }}"> {{ venue.web}}</a></li>
                    <li>Email: {{ venue.email}}</li>
                    <li>Description: {{ venue.ven_description}}</li>
                    <li>Open hours: {{ venue.from_hour}} - {{ venue.to_hour }}</li>
                    <li>Area size (mxm): {{ venue.flour_size}}</li>
                    <li>Ranking: {{ venue.booking_rates}}</li>
                 </ul>
          </div>

              <h5 class="card-title">Images</h5>
            <div>
                No Images to show yet
          </div>
        </div>
     </div>
    <br/>    <br/>
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
      <div class="btn-group mr-2" role="group" aria-label="First group">
         <a href="{%  url 'list-venues' %}" class="btn btn-secondary" >BACK</a>
      </div>
      <div class="btn-group mr-2" role="group" aria-label="Second group">
        <a href="{%  url 'edit-venue' venue.id %}" class="btn btn-primary">EDIT VENUE</a>
      </div>
      <div class="btn-group mr-2" role="group" aria-label="Second group">
        <a href="{%  url 'del-venue' venue.id %}" class="btn btn-danger">DELETE VENUE</a>
      </div>
    </div>

{% endblock %}