
{% extends 'events/base.html' %}

{% block content %}
<div style="text-align: center;">
    <br/><br/><br/>
    {% if searched %}
         <h3>You Searched for '{{ searched }}' </h3>
        <br/>
        <p style="font-size: 24px"> Result:</p>
        {% for venue in venues %}
            <p style="font-size: 24px"><a href="{% url 'show-venue' venue.id %}">{{ venue }}</a> </p><br/>
        {% endfor %}

    {% else %}
        <h1>You forgot to search a venue</h1>
    {% endif %}

</div>
{% endblock %}